.select
  .select__container
    .select__name Pierwszy select
    select.select__select(id="first" name="first")
      option(value="")
      option(value="Warszawa") Warszawa
      option(value="Olsztyn") Olsztyn
      option(value="Gliwice") Gliwice
      option(value="Gdańsk") Gdańsk
      option(value="Zakopane") Zakopane
      option(value="Częstochowa") Częstochowa
    .select__name Drugi select
    select.select__select(id="second" name="second")
      option(value="Warszawa") Warszawa
      option(value="Olsztyn") Olsztyn
      option(value="Gliwice") Gliwice
      option(value="Gdańsk") Gdańsk
      option(value="Zakopane") Zakopane
      option(value="Częstochowa") Częstochowa
    .select__name Disabled select
    select.select__select(id="disabled" name="disabled")
      option(value="Warszawa") Warszawa
      option(value="Olsztyn") Olsztyn
      option(value="Gliwice") Gliwice
      option(value="Gdańsk") Gdańsk
      option(value="Zakopane") Zakopane
      option(value="Częstochowa") Częstochowa
    .select__name Multiselect 
    select.select__select(id="multi" name="multi")
      option(value="first") Warszawa
      option(value="Olsztyn") Olsztyn
      option(value="Gliwice") Gliwice
      option(value="Gdańsk") Gdańsk
      option(value="Zakopane") Zakopane
      option(value="Częstochowa") Częstochowa
